body{
    background-image: url(http://i1.wallbox.ru/wallpapers/main2/201728/cvety1.jpg);
    background-size: cover;
    margin: 0;
}

.body_cls{
    display: flex;
}

img{
    height: 900px;
    width: 700px;
}

div{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    color: #003F5F;
}