<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница галерии</title>
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}" />
</head>
<body>
    <h1>Каталог живописи</h1>

    <div class="one">
        <a href=/painting/men-1><img class="img1" src="{% static 'images/men.png' %}" alt=""></a>
        <a href=/painting/women-1><img class="img2" src="{% static 'images/women1.png' %}" alt=""></a>
        <a href=/painting/men-2><img class="img3" src="{% static 'images/men2.png' %}" alt=""></a>
    </div>


</body>
</html>