{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Картина мужчины 2</title>
{% endblock title %}

{% block base_content %}
<div>
    {% for key, value in art_dict.items %}
        {% if key == 'Автор:' %}
            <h2>{{key}} {{value}}</h2><br>
        {% else %}
            <h3>{{key}} {{value}}</h3><br>
        {% endif %}
    {% endfor %}
</div>

<div>
    <img src="{% static 'images/men2.png' %}">
</div>

{% endblock base_content %}
    {% for img in images %}
        {% with name=img %}
            <img src="name">
        {% endwith %}
    {% endfor %}