<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Картина мужчины 2</title>
    <link rel="stylesheet" href="{% static 'css/style_img.css' %}" />
</head>
<body>
    <div>
        <h4><a href="..">Назад в галерею</a></h4>
        <h2>Алехнович Геннадий</h2>
        <h3>Картина маслом на холсте с изображением мужчины, следы мудрости возраста,
            свет на уставшем лице.</h3>
        <h3>Стоимость картины: 30 000₽</h3>
        <h3>Об авторе:</h3>
        <h3>Характерны два направления цветочная живопись и фигуратив в жанре ню.
            Стремление в живописи к легкости, индивидуальности, неповторимости, современности.
            Член Союза Художников России.</h3>
    </div>

    <div>
        <img src="{% static 'img/men2.png' %}">
    </div>

</body>
</html>