{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>
        Вопросы Ответ
    </title>

    <style>
        .row {
            background-color: rgba(225, 199, 208, 1);
        }

        .row_bd {
            width: 55%;
            margin-left: 5%;
        }
    </style>
{% endblock title %}

{% block base_content %}
    <div>
        <form method="POST" action="/painting/question_answer/">
            {% csrf_token %}
            <label>Задать вопрос</label><br>
            <textarea name="question_answer" cols="50" rows="15" style="margin-top: 2.5%"></textarea><br>
            <input type="submit">
        </form>
    </div>


    <div class="row_bd">
        <label>Вопросы:</label>
        {% for row in question_answer %}
            <div class="row">
                <p style="padding-top: 2%">{{ row.question }}</p>
                <p style="padding-bottom: 2%">{{ row.date_question }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock base_content %}


