<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/style_img.css' %}" />

</head>
<body>
    <div class="main">
        <h4><a href="..">Назад в галерею</a></h4>
    </div>

    <div class="body_cls">
        {% block base_content %}

        {% endblock base_content %}
    </div>
</body>
</html>